<!-- myapp/templates/about.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        p {
            font-family: 'Poppins', sans-serif;
            padding: 50px;
            font-size: large;
        }
    </style>
</head>
<body>
    <h1>This is about Page</h1>
    <p>I am S.SIVA SANKARA PANDI. I am pursuing my UG at Kamaraj College of Engineering and Technology in the stream of Information Technology.</p>
    <p>I am passionate about coding. My areas of interest are JAVA,C,GAME DEVELOPMENT and Web Development.</p>
</body>
</html>
